<!DOCTYPE html>
<html lang="pt">
<head>
		<title>My delivery app</title>
		<link rel="stylesheet" href="css/style.css"></link>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main role="main" id="main">
		<header>
				<div class="loc">
						<img class="locationMain" src="images/all/Localizacao.png" alt="localização">
						<span>Itacaré-BH</span>
				</div>
				<div class="menu">
						<div class="ThreeBar">
								<div class="bar"></div>
								<div class="bar bar1"></div>
						</div>
				</div>
		</header>
  		<div class="titleMain">
  				<h1>
  				  <span>Find good   						
  				  		<img src="images/All/Oculos2.png"/>
         </span>
  				  <span>food around you</span>
  				</h1>		
  		</div>
  		<div class="searcMain">
  				<div class="search">
  						<div class="iconS">
  						  <img src="images/All/Search.png"/>
  				   </div>
  						
  						<input type="text" placeholder="Search your food">
  						
  						<div class="iconS">
  						  <img src="images/All/Config.png"/>
  				   </div>

  				</div>
  		</div>
		<section class="Foods">
				<div class="titleF">
						<h2>Find</h2>
				</div>
				<div class="menuSel">
						<div class="ExtItem"
								v-for="c, id in categories"
								>
							 <div 
							 		@click="activeItem(id)"
							 		v-if="c.active"
							 		class="item">
								 {{c.title}}
						  </div>
								
							<div
									@click="activeItem(id)"
									v-else class="item itemFalse">
								 {{c.title}}
						  </div>

					 </div>
				</div>
				<div class="foodList">
						<div class="food" v-for="c in 4">
								<div class="coracao">
										<img src="images/All/On_coracao.png">
								</div>
								<div class="Fbanner">
										<img src="images/Foods/F1.png"/>
								</div>
								<div class="Fdata">
										<div class="Ftitle">
												arroz + empada
										</div>
										<div class="avaliation">
												<span>Avali</span>
												<img src="images/All/On_estrela.png"/>
										   <span>4.1</span>
										</div>
										<div class="Fprice">
												<sup>$</sup>
												<apan>10.95</apan>
										</div>
								</div>
						</div>
				</div>
		</section>
  </main>
</body>
<script src="js/vue.js"></script>
<script src="js/script.js"></script>
</html>
